h1 {
	color: black;
	background-color: magenta;
	text-align: center;
}

html {
	background-image: url(media/planets.jpg);
	color: white;
}

table{
	width: 70%;
	align-self: center;
	background-color: rgba(127, 15, 126, .5);
}


th, td{
	border: 1px solid white;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.bold{
	font-weight: 900;
}